* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background-color: #000000;

  height: 100%;

  color: #ffffff;
}

.topnav {
  display: flex;

  justify-content: space-between;

  align-items: center;

  border-bottom: 2px solid white;

  padding: 5px 15px;
}

.topnav .logo {
  color: #ffffff;

  font-size: 30px;

  font-weight: bold;

  text-decoration: none;

  margin-right: auto;
}

.nav {
  display: flex;
}

.nav a {
  color: #ffffff;

  text-align: center;

  padding: 1em 2em;

  text-decoration: none;

  transition: background-color 150ms ease;
}

.nav a:hover {
  background-color: #4b4b4bb6;
}

.content {
  background-color: #000000;

  padding: 1em 2em;

  color: #ffffff;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;
}

.inputbox {
  display: flex;
  position: absolute;
  align-items: center;
  width: 600px;
  height: 80px;
  background-color: rgb(53, 53, 53);
  color: lightgray;
  padding-left: 50px; /* How far to the right the text appears in the box*/
  border-radius: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 200%);
}

.submit {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(297%, 216%);
}

.button {
  display: flex;
  position: absolute;
  align-items: center;
  left: 50%;
  right: 50%;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  justify-content: center;
  background-color: #a1a1a1;
}

.img {
  justify-content: center;

  flex-direction: column;

  position: relative;
}

.j-text {
  display: flex;

  align-items: center;

  font-size: large;
}

.message {
  display: flex;
  height: 75px;
  background-color: rgb(53, 53, 53);
  color: lightgray;
  padding-left: 50px; /* How far to the right the text appears in the box*/
  border-radius: 50px;
  transform: translate(100%, 100%);
}
