<!DOCTYPE html>
{% extends "base.html" %}

{%block content%}

<html lang="en">
  <head>
    <title>J-Bot</title>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href= "{{ url_for('static',filename= 'css/style.css' ) }}">
  </head>


  <body>
<div class="content"></div>
    <Center><h1>WHAT IS J-BOT?</h1><Center>
      <p>J-Bot is an never-before-seen piece of bleeding-edge technology that mimics the usefulness of an LLM wihtout the enviromental damage, IP theft, or corporate greed.</p>
    </div>
  
  {%endblock%}